    @grafana host stats.pg-tech.hu
    handle @grafana {
        reverse_proxy http://grafana:3000 {
            header_up X-Real-IP {remote_host}
        }
    }

    @influxdb host influx.pg-tech.hu
    handle @influxdb {
        reverse_proxy http://gf_influxdb:8086 {
            header_up X-Real-IP {remote_host}
        }
    }

    @alloy host alloy.pg-tech.hu
    handle @alloy {
        reverse_proxy http://gf_alloy:12345 {
            header_up X-Real-IP {remote_host}
        }
    }